obj/
bin/
.vs/
*.user
*.suo
*.log
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.backup
*.BLOB
*.cache
*.pdb
*.publishsettings
*.pubxml
*.pubxml.user
*.sln.docstates
*.ncb
*.sdf
.DS_Store

# Project-generated runtime artifacts
captures/
ecs-cache/
