obj/*
bin/*
.vs/*
*.user
*.suo
*.log
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.backup
*.BLOB
*.cache
*.pdb
*.publishsettings
*.pubxml
*.pubxml.user
*.sln.docstates
*.ncb
*.sdf
*.suo   
.DS_Store
obj/**/*
bin/**/*
obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
obj/Debug/net8.0/rjsmrazor.dswa.cache.json
obj/Debug/net8.0/rpswa.dswa.cache.json
obj/Debug/net8.0/teams-streaming-call.AssemblyInfo.cs
obj/Debug/net8.0/teams-streaming-call.AssemblyInfoInputs.cache
obj/Debug/net8.0/teams-streaming-call.csproj.FileListAbsolute.txt
obj/Debug/net8.0/teams-streaming-call.dll
obj/Debug/net8.0/teams-streaming-call.pdb
obj/Debug/net8.0/ref/teams-streaming-call.dll
obj/Debug/net8.0/refint/teams-streaming-call.dll

# Project-generated runtime artifacts
captures/
ecs-cache/
